body {
  background: black !important;
}

p,
figcaption {
  font-family: "Kalam", cursive;
}

h1,
a,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

.part1 {
  background-image: url(../img/p1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
}
.part1 .menu_top {
  height: 100px;
  background: black !important;
  position: absolute;
  top: 0;
  left: 0;
}
.part1 .menu_top button {
  border: 1px solid #613228 !important;
}
.part1 .menu_top button span {
  color: #613228 !important;
}
.part1 .menu_top .menu a {
  text-transform: uppercase;
  font-size: 1rem;
  color: snow;
}
.part1 .menu_top .menu a:nth-of-type(1) {
  color: #613228;
}
.part1 .menu_top .menu a:hover {
  color: #613228;
}
.part1 .name {
  min-height: 500px;
}

.part_2 {
  min-height: 125vh;
  background-color: black !important;
}
.part_2 article {
  min-height: 400px !important;
}
.part_2 figure img {
  transition: 1s;
}
.part_2 figure img:hover {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}
.part_2 h2 {
  color: #613228;
}
.part_2 h6 {
  letter-spacing: 5px;
}
.part_2 p {
  color: snow;
}
.part_2 .row .row figure {
  min-height: 250px;
}
.part_2 > figure {
  min-height: 400px !important;
}
.part_2 > figure figcaption {
  position: absolute;
  bottom: -10%;
  right: 5%;
  z-index: 10;
  color: snow !important;
  background: #613228 !important;
  height: 50px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part_2 > figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.part_2 figure {
  position: relative;
}
.part_2 figure::before {
  width: 100%;
  height: 100%;
  border: 1px solid #613228;
  display: flex;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-5%, 10%);
}
.part_2 figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.part_3 {
  min-height: 100vh;
  background: black !important;
}
.part_3 figure {
  min-height: 400px;
  position: relative;
}
.part_3 figure figcaption {
  text-transform: capitalize;
  position: absolute;
  top: -8.5%;
  right: 0%;
}
.part_3 figure:hover img {
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
}
.part_3 figure:hover::before {
  background: rgb(185, 150, 86) !important;
}
.part_3 figure::before {
  transition: 1s;
  width: 100%;
  height: 100%;
  display: flex;
  background: #613228 !important;
  content: "";
  position: absolute;
  transform: translate(20%, -10%);
  top: 0;
  left: 0;
}
.part_3 figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  transition: 1s;
}
.part_3 h2 {
  color: #613228 !important;
}
.part_3 h6 {
  letter-spacing: 5px;
}

.part_4 {
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url(../img/p4.jpg);
  background-position: center;
  background-size: cover;
}
.part_4 section {
  min-height: 500px;
}
.part_4 h6 {
  letter-spacing: 5px;
}

.part_5 {
  min-height: 100vh !important;
  background: black !important;
}
.part_5 > div h2 {
  color: #613228;
}
.part_5 > div h6 {
  letter-spacing: 5px;
}
.part_5 > section {
  min-height: 500px !important;
}
.part_5 > section figure {
  position: relative;
  min-height: 230px !important;
  overflow: hidden;
}
.part_5 > section figure:hover img {
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
}
.part_5 > section figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

.part_6 {
  background: black !important;
  min-height: 150vh;
}
.part_6 > div h2 {
  color: #613228;
}
.part_6 section div {
  min-height: 350px;
}
@media screen and (max-width: 768px) {
  .part_6 section div:nth-of-type(2) figure {
    order: -1;
  }
}
.part_6 section div h4,
.part_6 section div h6 {
  text-transform: capitalize;
  color: #613228 !important;
}
.part_6 section div h4 {
  word-spacing: 5px;
}
.part_6 section div article > span {
  text-transform: uppercase;
  color: #613228 !important;
  letter-spacing: 5px;
}
.part_6 section div article > span:hover {
  color: snow !important;
}
.part_6 section div figure {
  min-height: 350px;
  position: relative;
}
.part_6 section div figure::before {
  transition: 1s;
  width: 100%;
  height: 100%;
  display: flex;
  background: #613228 !important;
  content: "";
  position: absolute;
  transform: translate(-7.5%, 10%);
  top: 0;
  left: 0;
}
.part_6 section div figure:hover img {
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
}
.part_6 section div figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s;
  z-index: 25;
}

.part_7 {
  min-height: 300px !important;
  background: black !important;
}
.part_7 h5 {
  color: #613228 !important;
}/*# sourceMappingURL=master.css.map */